@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    overflow-x: hidden;
    
    width: 100%;
    height: 100%;

    place-items: center;
}

#center {
    width: 599px;
    height: 131.35em;

    border-width: .8px;
    border-color: rgba(0,0,0,0.2);
    border-style: solid solid solid solid;

    margin-bottom: -1em;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;

    overflow-x: hidden;
}

#header {
    position: absolute;
}

#capa {
    background-image: linear-gradient(180deg, rgba(0,0,0,0.3), rgba(0,0,0,0));
    position: absolute;

    padding: 90px;
    width: 420px;
}

#capa-img {
    margin-top: 0px;
    padding-top: 0px;
}

#back {
    max-width: 18px;
    max-height: 18px;

    top: 20px;
    left: 8px;
    padding: 10px 9px;
    position: absolute;

    height: auto;
    display: block;
}

#back:hover{
    background-color: rgba(255,255,255,0.06);
    display: block;

    top: 20px;
    left: 8px;

    border-radius: 100%;
    cursor: pointer;
}

#name {
    position: absolute;
    top: 8px;
    left: 52px;

    color: #fefefe;
    font-family: Roboto,sans-serif;
    font-size: 19px;
    line-height: 24px;
    font-weight: 500;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

#verify {
    position: absolute;

    left: 120px;
    top: 10px;

    max-width: 20px;
    max-height: 20px;
}

#pic {
    position: absolute;

    left: 52px;
    top: 36px;

    max-width: 16px;
    max-height: 16px;
}

#posts {
    position: absolute;
    top: 22px;
    left: 72px;

    color: #fefefe;
    font-family: Roboto,sans-serif;
    font-size: 14px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

#divider-1 {
    position: absolute;
    top: 35px;
    left: 105px;

    color: rgba(255,255,255,0.6);
    font-family: Roboto,sans-serif;
    font-size: 16px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

#vid {
    position: absolute;

    left: 121px;
    top: 35px;

    max-width: 17px;
    max-height: 17px;
}

#vids {
    position: absolute;
    top: 22px;
    left: 143px;

    color: #fefefe;
    font-family: Roboto,sans-serif;
    font-size: 14px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

#posts:hover {
    text-decoration: underline;
}

#vids:hover {
    text-decoration: underline;
}

#divider-2 {
    position: absolute;
    top: 35px;
    left: 167px;

    color: rgba(255,255,255,0.6);
    font-family: Roboto,sans-serif;
    font-size: 16px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

#flw {
    position: absolute;

    left: 181px;
    top: 35px;

    max-width: 16px;
    max-height: 16px;
}

#followers {
    position: absolute;
    top: 22px;
    left: 200px;

    color: #fefefe;
    font-family: Roboto,sans-serif;
    font-size: 14px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

#divider-3 {
    position: absolute;
    top: 35px;
    left: 238px;

    color: rgba(255,255,255,0.6);
    font-family: Roboto,sans-serif;
    font-size: 16px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

#fans {
    position: absolute;

    left: 253px;
    top: 35px;

    max-width: 15px;
    max-height: 15px;
}

#active {
    position: absolute;
    top: 22px;
    left: 272px;

    color: #fefefe;
    font-family: Roboto,sans-serif;
    font-size: 14px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

#avatar {
    position: absolute;

    max-width: 116px;
    max-height: 116px;
    background-color:white;

    top: 136px;
    left: 14px;

    border-radius: 100%;
}

#avatar-img {
    margin: 2px;
    max-width: 112px;
    max-height: 112px;
}

/*Main info*/
.main-info {    
    width: 599px;
    height: auto;

    position: absolute;
    top: 16.2em;

    padding-bottom: 1em;
}

#main-name {
    position: relative;
    left: 20px;

    color: #000000;
    font-family: Roboto,sans-serif;
    font-size: 19px;
    font-weight: 500;

    overflow: hidden;
    display: inline;
}

#main-verify {
    position: relative;
    top: 3px;
    left: 19px;

    max-width: 20px;
    max-height: 20px;
}

.at{
    position: relative;
    top: 18px;
    left: -5.2em;

    text-decoration: none;

    color: rgb(184, 184, 184);
    font-family: Roboto,sans-serif;
    font-size: 14px;
    font-weight: 400;

    overflow: hidden;
    display: inline;

    cursor: pointer;
}

/*Texto expanssível*/
.container {
    position: relative;
    
    top: 12px;
    left: 19px;
    padding-bottom: 20px;
}
.input {
    display: none;
}
.input:checked ~ .desc {
    max-height: 100%;
}
.input ~ .label:before {
    content: 'Mais informações';

    color: #00AFF0;
    font-family: Roboto,sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.input:checked ~ .label:before {
    content: 'Recolher informações';
}
.label {
    cursor: pointer;
    display: inline;

    position: relative;
}
.label:hover {
    color: #00AFF0;
    text-decoration: underline;
}
.desc {
    color: rgb(0, 0, 0);
    font-family: Roboto,sans-serif;
    font-size: 15px;
    font-weight: 400;

    overflow: hidden;
    max-height: 42px;
}

/*Inscrição*/
.sub-container {
    width: 599px;
    height: 5em;
    
    border-style: solid hidden solid hidden;
    border-width: .8px;
    border-color: rgba(0,0,0,0.2);

    position: relative;

    margin-top: 1.2em;

    padding-top: 1.4em;
    padding-bottom: 2.5em;

    box-shadow: inset 0px 8px rgba(0,0,0,0.04);
}

#sub-title {
    position: absolute;
    left: 20px;
    top: 3px;

    color: #8A96A3;
    font-family: Roboto,sans-serif;
    font-size: 17px;
    font-weight: 500;

    overflow: hidden;
    display: inline;

    text-transform: uppercase;
}
#button-sub1 {
    position: absolute;
    left: 2.1em;
    top: 4.6em;

    width: 90%;
    border-radius: 90em;
    padding: 0px;

    background-color: #00AFF0;
    border-style: hidden;

    cursor: pointer;
    transition: background-color .3s ease;
}
#button-sub1:hover {
    background-color: #0091EA;
}
#se-inscrever {
    position: relative;
    top: .05em;
    left: -142px;

    display: inline-block;

    color: #ffffff;
    font-family: Roboto,sans-serif;
    font-size: 15px;
    font-weight: 500;

    text-transform: uppercase;
}
#preco {
    position: relative;
    top: .05em;
    left: 142px;

    display: inline-block;

    color: #ffffff;
    font-family: Roboto,sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.tooltip {
    position: absolute;

    margin-right: 18px;
    margin-top: -64px;

    padding-left: 44px;
    padding-bottom: 49px;

    top: 0px;
    right: 0px;

    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,0.1);
    border-radius: 90em;

    background-color: white;
}
.tooltip:hover {
    cursor: pointer;
    background-color: #F0F9FE;

    border-color: #5AB9F2;
}
#tooltiptext {
    position: absolute;
    visibility: hidden;

    display: inline;

    color: #ffffff;
    font-family: Roboto,sans-serif;
    font-size: 11px;
    font-weight: 500;

    text-align: center;

    padding-top: 6px;
    padding-bottom: 6px;

    top: -36px;
    left: -44px;
    
    width: 135px;

    background-color: rgba(36, 36, 36, 0.99);

    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,0.1);
    border-radius: 10px;

    transition: opacity .3s ease;
    opacity: 0;
}
.tooltip #tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(36, 36, 36, 0.99) transparent transparent transparent;
}
.tooltip:hover #tooltiptext{
    visibility: visible;
    opacity: 1;
}
#clickToCopyIMG {
    max-width: 25px;
    max-height: 25px;
    
    left: 11px;
    bottom: 12px;
    position: absolute;
}
#OFLink {
    position: absolute;
    visibility: hidden;
}
/*   ////////////////////////////////////    */

.publicacoes {
    position: relative;
}
.pub-title {
    position: absolute;
    
    border-width: 1px;
    border-style: hidden hidden solid hidden;
    border-color: rgba(0,0,0,0.2);

    margin-top: .5px;

    width: 100%;

    padding-top: 50px;
}
#pub-title1 {
    position: absolute;
    
    color: #242529;
    font-family: Roboto,sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;

    border-width: 1px;
    border-style: solid;
    border-color: rgba(36, 36, 36, 0);

    text-align: center;
    padding: 10px;
    left: 8px;

    width: 17em;
    top: 5px;

    transition: background-color .3s ease, color .3s ease;

    text-decoration: none;
}
#pub-title1:hover {
    background-color: #F0F9FE;
    cursor: pointer;

    color:#1791EA;
}
#pub-title2 {
    position: absolute;

    color: #8A96A3;
    font-family: Roboto,sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;

    border-width: 1px;
    border-style: solid;
    border-color: rgba(36, 36, 36, 0);
    border-radius: 5px;
    
    text-align: center;
    padding: 10px;
    right: 8px;
    
    width: 17em;
    top: 5px;

    transition: background-color .3s ease, color .3s ease;

    text-decoration: none;
}
#pub-title2:hover {
    background-color: #F0F9FE;
    cursor: pointer;

    color:#1791EA;
}
.pub-selector {
    position: absolute;
    background-color: #242529; 
    width: 49.5%;
    height: 2px;

    border-radius: 25px;
    top: 49px;

    transition: background-color .3s ease, left .3s ease;
}
#pub-recent {
    position: relative;
    left: 20px;
    top: 70px;

    color: #8A96A3;
    font-family: Roboto,sans-serif;
    font-size: 17px;
    font-weight: 500;

    display: inline;

    text-transform: uppercase;
}
/* Publicações */
.publicao1 {
    position: relative;

    border-width: 1px;
    border-style: hidden hidden solid hidden;
    border-color: rgba(0,0,0,0.2);

    width: auto;
    height: 31.2em;

    top: 5em;
    overflow: hidden;
}
.publicao2 {
    position: relative;

    border-width: 1px;
    border-style: hidden hidden solid hidden;
    border-color: rgba(0,0,0,0.2);

    width: auto;
    height: 29.9em;

    top: 5em;
    overflow: hidden;
}
.publicao3 {
    position: relative;

    border-width: 1px;
    border-style: hidden hidden hidden hidden;
    border-color: rgba(0,0,0,0.2);

    width: auto;
    height: 28.9em;

    top: 5em;
    overflow: hidden;
}
#pub-ava {
    position: absolute;
    max-width: 3.2em;
    max-height: 3.2em;

    padding-left: 1.2em;
    padding-top: 1.2em;
}
#pub-name {
    position: absolute;
    
    margin-left: 5.03em;
    margin-top: 1.6em;

    color: #000000;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    font-weight: 500;

    display: inline;

    border-width: 1px;
    border-style: solid;
    border-color: rgba(36, 36, 36, 0);
    border-radius: 1px;
}
#pub-verify {
    position: absolute;
    margin-left: 8.58em;
    margin-top: 1.62em;

    max-width: 18px;
    max-height: 18px;

    border-width: 1px;
    border-style: solid;
    border-color: rgba(36, 36, 36, 0);
    border-radius: 1px;
}
#pub-at {
    position: relative;

    margin-left: 5.82em;
    top: 3.3em;

    color: rgb(184, 184, 184);
    font-family: Roboto,sans-serif;
    font-size: 13.6px;
    font-weight: 400;

    display: inline;

    border-width: 1px;
    border-style: solid;
    border-color: rgba(36, 36, 36, 0);
    border-radius: 1px;
}
#pub-date {
    position: relative;
    
    margin-left: 35.4em;
    top: .6em;

    color: rgb(184, 184, 184);
    font-family: Roboto,sans-serif;
    font-size: 14px;
    font-weight: 400;

    display: inline;

    border-width: 1px;
    border-style: solid;
    border-color: rgba(36, 36, 36, 0);
    border-radius: 1px;
}
#pub-desc {
    position: relative;

    padding-top: .2em;
    padding-bottom: .2em;
    margin-left: 1.3em;
    
    top: 2.4em;
    
    color: rgb(0, 0, 0);
    font-family: Roboto,sans-serif;
    font-size: 14px;
    font-weight: 400;

    overflow: hidden;
    width: 92%;

    border-width: 1px;
    border-style: solid;
    border-color: rgba(36, 36, 36, 0);
    border-radius: 5px;
    
    line-height: 1.2;
}
#blocked-content {
    background-color: #F6F7F8;

    position: relative;

    width: 100%;
    height: 18em;

    margin-top: 3em;
}
.padlock-closed {
    position: relative;
    max-width: 50px;
    max-height: 50px;

    margin-left: 16.4em;
    padding-left: .5em;
    padding-right: .5em;
    bottom: -5.8em;

    border-width: 1px;
    border-style: solid;
    border-color: rgba(36, 36, 36, 0);
    border-radius: 1px;
}
.padlock-open {
    position: relative;
    max-width: 50px;
    max-height: 50px;

    margin-left: 16.4em;
    padding-left: .5em;
    padding-right: .5em;
    bottom: -2.31em;

    border-width: 1px;
    border-style: solid;
    border-color: rgba(36, 36, 36, 0);
    border-radius: 1px;

    visibility: hidden;
}
.sub-bttn-pub {
    width: 37.32em;
    height: 18em;

    position: relative;

    margin-top: 0em;

    border-width: 1px;
    border-style: solid;
    border-color: rgba(36, 36, 36, 0);
    border-radius: 1px;
}
.button-sub2 {
    position: absolute;
    left: 2.1em;
    top: 15.9em;

    width: 90%;
    border-radius: 90em;
    padding: 0px;

    background-color: #00AFF0;
    border-style: hidden;

    cursor: pointer;
    transition: background-color .3s ease;
}
.button-sub2:hover {
    background-color: #0091EA;
}
.button-sub2:hover ~ .padlock-closed {
    visibility: hidden;
}
.button-sub2:hover ~ .padlock-open {
    visibility: visible;
}

.footer {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(36, 36, 36, 0);
    border-radius: 1px;
    
    position: relative;

    max-width: 32em;
    max-height: auto;

    margin-top: .5em;
    margin-bottom: -.5em;
    margin-left: auto;
    margin-right: auto;
}
.foot-text {
    position: relative;
    text-align: center;
    
    line-height: 1px;
    margin: 1px;

    color: rgb(172, 172, 172);
    font-family: Roboto,sans-serif;
    font-size: 12px;
    font-weight: 500;

    white-space: nowrap;

    padding: 1px;
}
#madeby {
    display: inline-block;
    white-space: nowrap;
}
#n0ia96 {
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;

    font-weight: 800;
    
    text-shadow: 0px 0px 8px rgba(145, 224, 255, 0.4);

    animation: n0ia96-anim 2s  0s linear infinite alternate;
}
@keyframes n0ia96-anim {
    0%{
        color: rgb(70, 187, 255);
    }
    100%{
        color: rgb(94, 150, 255);
    }
}
#domain:visited {
    text-decoration: none;
    color: rgb(172, 172, 172);
}
#punheteiros-num {
    display: inline-block;
    white-space: nowrap;

    top: 10px;
    position: relative;
}
#punheteiros {
    display: inline-block;
    white-space: nowrap;

    top: 10px;
    position: relative;
}